h1 {
  --width: 100px;
  display: inline-block;
  width: calc(100% - var(--width));
  text-align: center;
}

.dashLink {
  color: white;
  background-color: black;
  padding: 5px 10px;
  border-radius: 10px;
  transition-duration: 0.2s;
}

.dashLink:hover {
  background-color: rgb(48, 45, 45);
  box-shadow: 0 0 4px rgb(0, 0, 0);
  transition-duration: 0.2s;
}